08-deep-learning/xception_v6_ep_07_ac_0.868.h5
09-serverless/chothing-model.tflite
09-serverless/xception_v6_ep_07_ac_0.868.h5
09-serverless/test.py
09-serverless/test.py
10-kubernetes/xception_v6_ep_07_ac_0.868.h5
